{% extends "base.html" %}
{% block title %}Cafes{%endblock%}
{% block head %}{%endblock%}

{% block content %}
<div id="cafes_page" class="aligned-div">
    <h1 class="lefted-align" >All Cafes</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Cafe Name</th>
                <th scope="col">Location</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Coffee</th>
                <th scope="col">Wifi</th>
                <th scope="col">Power</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>

            </tr>
        </tbody>
    </table>
    <a  class=" d-flex justify-content-start link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover " href="{{url_for('main_page')}}">Return to index Page</a>

</div>
{%endblock%}