{% extends "base.html" %}
{% block title %}INDEX{%endblock%}
{% block head %}{%endblock%}

{% block content %}
    <div class="page1">
        <h1 style="font-weight:lighter; font-size:3.5rem;">☕️ Coffee & Wifi 💻</h1>
        <h3 style="font-weight:lighter;line-height:2;">Want to work in a cafe but need power and wifi?</h3>
        <hr style="margin: 1rem 60px;">
        <p class="p_pg1" >You've found the right place! Checkout my collection of cafes with data on power socket availability, wifi speed and coffee quality.</p>
        <a href="/cafe" class="btn btn-warning btn-lg">Show Me!</a>
    </div>
{%endblock%}





